<div>
  <img class='beer-picture' src='/images/beer.png' alt='beerpicture' />
  <div class='buttons'>
    <a href='/beers' class='fancy-undeline'>Check the beers !</a>
    <a href='/random-beer' class='fancy-undeline'>Check a Random Beer</a>
  </div>
</div>